.block{
	border: 1px solid;
	height: fit-content;
}
.box0{
	border: 1px solid;
	height: fit-content;
}
.box{
	border: 1px solid;
	height: fit-content;
}
.bob{
	border: 1px solid;
	width: 50%;
	height: fit-content;
	margin: auto;
}
.menu{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.menu a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Montserrat", serif;
	color: black;
	font-size: 18px;
	padding: 10px 20px;
	transition: background-color 0.3s;
}
.menu a:hover{
	color: #f1ae0e;
}







.block1{
	height: fit-content;
	background: #99e54d;
}
.box01{
	height: fit-content;
}
.box1{
	height: fit-content;
}
.bob1{
	border: 1px solid white;
	background: white;
	width: 1140px;
	margin: 75px auto;
	height: fit-content;
	text-align: center;
	border-radius: 50px;
}
.bob1 h2{
	font-size: 48px;
	font-weight: 700;
	line-height: 1.1;
	font-family: "Montserrat", serif;
	margin-top: 50px;
}
.bob1 p{
	margin: 20px auto 0;
	font-size: 18px;
	font-family: "Montserrat", serif;
}
.bob1 h3{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 20px auto 50px;
}
.icon1{
	color: #f1ae0e;
}



.block2{
	height: fit-content;
	background: #f9f6ee;
}
.box02{
	height: fit-content;
}
.box2{
	height: fit-content;
	text-align: center;
}
.box2 h2{
	margin: 60px auto 0;
	font-size: 48px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.1;
}
.box2 p{
	font-size: 18px;
	margin-top: 20px;
	font-family: "Montserrat", serif;
}
.blockbob{
	margin: 36px auto;
	width: 1140px;
	height: fit-content;
	display: flex;
}
.bob2{
	width: 570px;
	height: fit-content;
	margin: auto;
}
.image{
	width: 510px;
	height: 542px;
	border-radius: 50px;
	margin: auto;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/mixed-salad-fresh-vegetables-with-pieces-salmon.jpg);
	background-size: cover;
}
.bob3{
	width: 570px;
	height: fit-content;
	margin: auto;
	text-align: left;
}
.bob3 h6{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
}





.block3{
	height: fit-content;
	background: #f9f6ee;
}
.box03{
	height: fit-content;
}
.box3{
	height: fit-content;
	text-align: center;
}
.box3 h2{
	margin: 60px auto 0;
	font-size: 48px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.1;
}
.box3 p{
	font-size: 18px;
	margin-top: 20px;
	font-family: "Montserrat", serif;
}
.blockbob{
	margin: 36px auto;
	width: 1140px;
	height: fit-content;
	display: flex;
}
.bob2{
	width: 570px;
	height: fit-content;
	margin: auto;
}
.image1{
	width: 510px;
	height: 542px;
	border-radius: 50px;
	margin: auto;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/pexels-photo-3850972.jpeg);
	background-size: cover;
}
.bob3{
	width: 570px;
	height: fit-content;
	margin: auto;
	text-align: left;
}
.bob3 h6{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
}






.block4{
	height: auto;
	min-height: 686px;
	margin-bottom: 60px;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/italian-spaghetti-with-tomato-sauce-pan.jpg);
	background-size: cover;
	background-position: 100% 50%;
}
.box04{
	height: fit-content;
}
.box4{
	height: fit-content;
}
.box4 h5{
	font-size: 18px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.2;
	text-transform: uppercase;
	color: white;
	margin-bottom: 0;
	margin-top: 20px;
	margin-left: 50px;
}
.box4 h1{
	margin: 21px 617px 0 50px;
	font-size: 60px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.1;
	color: white;
}
.box4 button{
	padding: 16px 46px 17px;
	margin: 30px auto 50px 50px;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	background: #f1ae0e;
	border-radius: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
}
.box4 button:hover{
	background: whitesmoke;
	color: black;
}
.circule{
	width: 225px;
	height: 225px;
	margin: 100px 855px 0 50px;
	background: #99e54d;
	text-align: left;
	border-radius: 50%;
	color: black;
}
.textCircule{
	padding: 30px 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.textCircule h2{
	font-size: 60px;
	margin: 20px 0 auto;
	line-height: 1.1;
	font-weight: 700;
	text-align: center;
	font-family: "Montserrat", serif;
}
.textCircule h6{
	font-size: 18px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	margin: 20px 20px auto;
}





.block5{
	height: fit-content;
	background: #f9f6ee;
}
.box05{
	height: fit-content;
}
.box5{
	height: fit-content;
	text-align: center;
}
.box5 h2{
	margin: 60px auto 0;
	font-size: 48px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.1;
}
.box5 p{
	font-size: 18px;
	margin-top: 20px;
	font-family: "Montserrat", serif;
}
.blockbob{
	margin: 36px auto;
	width: 1140px;
	height: fit-content;
	display: flex;
}
.bob2{
	width: 570px;
	height: fit-content;
	margin: auto;
}
.image3{
	width: 510px;
	height: 542px;
	border-radius: 50px;
	margin: auto;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/pexels-photo-3906526.jpeg);
	background-size: cover;
}
.bob3{
	width: 570px;
	height: fit-content;
	margin: auto;
	text-align: left;
}
.bob3 h6{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
}




.block6{
	height: fit-content;
	background: #f9f6ee;
}
.box06{
	height: fit-content;
}
.box6{
	height: fit-content;
	text-align: center;
}
.box6 h2{
	margin: 60px auto 0;
	font-size: 48px;
	font-weight: 700;
	font-family: "Montserrat", serif;
	line-height: 1.1;
}
.box6 p{
	font-size: 18px;
	margin-top: 20px;
	font-family: "Montserrat", serif;
}
.blockbob{
	margin: 36px auto;
	width: 1140px;
	height: fit-content;
	display: flex;
}
.bob2{
	width: 570px;
	height: fit-content;
	margin: auto;
}
.image4{
	width: 510px;
	height: 542px;
	border-radius: 50px;
	margin: auto;
	background: url(https://assets.nicepagecdn.com/11a8ddce/4267640/images/pexels-koko-rahmadie-227908.jpg);
	background-size: cover;
}
.bob3{
	width: 570px;
	height: fit-content;
	margin: auto;
	text-align: left;
}
.bob3 h6{
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	font-family: "Montserrat", serif;
	text-transform: uppercase;
}


















.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.menu-item .icon {
  font-size: 10px;
  margin-bottom: 5px;
}

.menu-item:hover {
  color: #f1ae0e;
}